.language-switcher {
    position: relative;
}

.language-switcher__button {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.language-switcher__menu {
    position: absolute;
    top: 110%;
    right: 0;
    width: 170px;

    background: white;

    border-radius: 10px;

    box-shadow: 0 8px 30px rgba(0,0,0,.15);

    overflow: hidden;

    z-index: 9999;
}

.language-switcher__item {

    width:100%;

    text-align:left;

    border:none;

    background:white;

    padding:12px 16px;

    cursor:pointer;
}

.language-switcher__item:hover {

    background:#f3f3f3;
}

.language-switcher__item.active {

    font-weight:bold;

    color:#0055cc;
}
.language-switcher__button {
    display: flex;
    align-items: center;
    gap: 6px;

    border: none;
    background: transparent;
    cursor: pointer;

    font-size: 14px;
    font-weight: 600;
    color: white;
}